body{
    background-color: teal;
}

#title-box{
    position: relative;
    background-color: tomato;
    height: 200px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
}

.title{
    color: black;
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#instructions{
    background-color: yellow;
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 1px solid black;
}

#score-box{
    background-color: yellowgreen;
    height: 200px;
    margin-left: 50px;
    float: left;
    border: 1px solid black;
}

#score{
    font-size: 48px;
    text-align: center;
    margin: auto;
    top: 50%;
}

#record-box{
    background-color: yellowgreen;
    height: 200px;
    margin-left: 25px;
    float: left;
    border: 1px solid black;
}

#jewel-box{
    height: 200px;
    width: 635px;
    background-color: tan;
    margin-left: 50px;
}

#gem-row{
    margin-left: 10px;
    margin-top: 10px;
}

#ruby{
    background-image: url("../images/ruby.jpg");
    height: 100px;
    margin-right: 10px;
    float: left;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

#beryl{
    background-image: url("../images/beryl.jpg");
    height: 100px;
    margin-right: 10px;
    float: left;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

#emerald{
    background-image: url("../images/emerald.jpg");
    height: 100px;
    margin-right: 10px;
    float: left;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

#sapphire{
    background-image: url("../images/sapphire.jpg");
    height: 100px;
    margin-right: 10px;
    float: left;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}